.div-cart{
    display: flex;
    flex-flow: wrap;
    align-items: center;
    img{
        width: 3vw;
        height: auto;
    }
    span{
        display: flex;
        border-radius: 100%;
        background: white;
        height: 2.3vh;
        width: 1vw;
        font-size: 1.3rem;
        justify-content: center;
        align-items: center;
        margin-right: 1vw;
        font-family: 'Montserrat', sans-serif;
    }
}