.div-cart{
    display: flex;
    flex-flow: wrap;
    align-items: center;
    margin-right: 1vw;
    img{
        width: 3vw;
        height: auto;
    }
    span{
        display: flex;
        border-radius: 100%;
        background: rgba(255, 0, 0, 0.85) !important;
        height: 2.3vh;
        width: 1vw;
        padding: 0.75vw;
        font-size: 1vw;
        justify-content: center;
        align-items: center;
        margin-right: 1vw;
        color: white;
        font-size: bold;
        font-weight: 600;
    }
}