.div-compfin{
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    justify-content: center;
    margin: 5vh 0;
    background-color:rgb(24, 122, 40) ;
    box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.5);
    padding: 2vh 3vw;
    h3{
        color: rgb(247, 247, 241);
        font-family: "Caprasimo", cursive;
        font-size: 1.75vw;
        text-shadow: 0.5px 0.5px 3px black;
    }
    h4{
        color: rgb(247, 247, 241);
        text-shadow: 1px 1px 3px black;
        font-size: 1.2vw;
    }
}

.div-checkout{
    margin: 3vh 3vw;
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 247, 241);
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    padding: 1vh 1vw;
    h2{
        color: rgb(24, 122, 40);
        font-family: "Caprasimo", cursive;
        font-size: 2.5vw;
    }
    h4{
        font-size: 1.25vw;
    }
    .div-form{
        display: flex;
        flex-flow: wrap column;
        align-items: center;
        justify-content: center;
        div{
            label{
                color: #000;
                font-size: 1vw;
            }
        }
        .btn{
            margin: 1vw 0 0 0;
        }
    }
}