.div-itemCount{
    justify-content: center;
    .div-resum{
        display: flex;
        justify-content: center;
        button{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2vw;
            height: 4vh;
            font-size: 1.3vw;
            text-align: center;
        }
        span{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1vh 0;
            color: white;
            font-size: 1vw;
            height: 4vh;
            width: 4vw;
        }
    }
    .div-btn-onAdd{
        display: flex;
        justify-content: center;
        button{
        font-size: 1vw;
        width: 11vw;
        }
    }
}