@import 'navbar';
@import 'itemlistcontainer';
@import 'itemlist';
@import 'cartwidget';
@import 'item';
@import 'itemcount';
@import 'itemdetail';
@import 'itemdetailcontainer';
@import 'cart';
@import 'cartitem';
@import 'checkout';


* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

body{
    background-color: beige;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cargando{
    margin-top: 3vh;
    font-size: 1.5vw;
}

footer{
    font-weight: 400;
    color: black;
    margin: 10px;
    text-align: center;
    p{
        margin: 0;
        opacity: 60%;
        font-size: 1rem;
        justify-content: center;
    }
}